:root {
    --main-text: #f8f8f8;
    --secondary-bg: #0f111a;
    --secondary-dark-bg: #090b10;
    --text-dimmed: #7f808e;
}

body {
    background: #000 url("./assets/bg-1.jpg") repeat-x center bottom / 550px;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 200vh;
    font-family:  'Hack Regular', monospace;
    color: var(--main-text);
}

h1 {
    font-weight: 600;
    font-size: 50px;
}

.main-cont {
    max-width: 1200px;
    margin: 50px auto 0 auto;
}

.header {
    position: relative;
    height: 100px;
}

.header > * {
    text-align: center;
    margin: 0rem !important;
    height: 60px;
}


.code-box {
    max-width: 950px;
    margin: 6rem auto 0 auto;
    background-color: var(--secondary-bg);
    display: flex;
    font-size: 20px;
    position: relative;
}

.sidebar-cont {
    width: 55px;
    background-color: var(--secondary-dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar1{
    margin-bottom: 3rem;
}

.svgCont {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.svgCont > img {
    aspect-ratio: 1/1;
    width: 25px;
    margin: 0 auto;
    filter: invert(42%) sepia(15%) saturate(0%) hue-rotate(151deg) brightness(79%) contrast(90%);
}

.closers {
    width: 20px;
    filter: invert(60%) sepia(7%) saturate(1039%) hue-rotate(200deg) brightness(200%) contrast(80%);
}

.close-buttons {
    display: flex;
}

.close-buttons > div {
    margin: auto 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    height: 100%;
}

.close-buttons > div {
    padding: 0 .5rem;
}

.close-buttons > div:hover {
    background-color: #eeeeee1e;
}

.active > img {
    filter: invert(100%) sepia(0%) saturate(6517%) hue-rotate(57deg) brightness(120%) contrast(88%);
}

.active::before {
    content: "";
    background-color: #f0f0f0;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    box-sizing: content-box;
}

.svgCont:hover .svgImg {
    filter: invert(100%) sepia(0%) saturate(6517%) hue-rotate(57deg) brightness(120%) contrast(88%);
}

.number-cont {
    color: var(--text-dimmed);
    margin-left: 1rem;
    margin-top: .5rem;
    width: 100%;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    overflow-x: auto;

}

.code-top {
    position: absolute;
    background-color: var(--secondary-dark-bg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: -40px;
    height: 40px;
}

.searching {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

.searching > div > img {
    width: 25px;
    height: 25px;
    margin: 0 .9rem;
}

.s-blue {
    color: #4591f5
}

.s-blue-light {
    color: #6be1ff
}

.s-yellow {
    color: #f7f13b;
}

.s-orange {
    color: #ed802d
}

.s-purple {
    color: #ac5fbb;
}

.s-purple-light {
    color: #d590e8;
}

.s-red {
    color: #ff6f79
}

.s-red-dark {
    color: rgb(255, 255, 255)
}

.s-green {
    color: #89f827;
}

.s-white {
    color: #dfdfdf;
}

.span-cont {
    width: fit-content;
    display: inline-block !important;
    overflow: hidden !important;
    white-space: nowrap;
}

.span-cont > * {
    overflow: hidden !important;
}

.num-row:hover .span-cont {
    animation: expandFromLeft .5s 1.2s steps(20, end) forwards;
    transform-origin: left;
}

@keyframes expandFromLeft {
    0% {
      width: 0;
    }
    100% {
      width: fit-content;
    }
  }
  

#search > img {
    filter: invert(74%) sepia(30%) saturate(0%) hue-rotate(155deg) brightness(89%) contrast(98%);
    height: 16px;
    position: absolute;
    left: 65px;
}

#search > input {
    display: block;
    max-height: 15px !important;
    padding: .4rem 0;
    background-color: #232328;
    border: 1px solid #5f5f5f;
    color: #b3b3b3;
    border-radius: 7px;
    text-align: center;
    width: 100%;
}

#no_filter {
    filter: none !important;
}

#exit:hover {
    background-color: red !important;
}